<div class="d-flex justify-content-end gap-2">
  <button (click)="openAddNewEmploySection()">Add Employee</button>
  <button>Add Manager</button>
</div>

@if(isAddEmployeeOpen()) {
<div>
  <form [formGroup]="employeeForm" (ngSubmit)="handleAddEmployee()">
    <div class="my-4">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Please enter the First Name"
          formControlName="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Please enter the Last Name"
          formControlName="lastName"
        />
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
        <input
          type="text"
          class="form-control"
          id="jobTitle"
          placeholder="Please enter the Job Title"
          formControlName="jobTitle"
        />
      </div>
      <div class="form-group">
        <label for="manager">Select Manager</label>
        <select
          id="manager"
          class="form-select"
          aria-label="Default select example"
          formControlName="manager"
        >
          @for (item of managerList; track $index) {
          <option [selected]="managerList[0]" value="{{ item.id }}">
            {{ item.first_name + item.last_name }}
          </option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input
          type="text"
          class="form-control"
          id="salary"
          placeholder="Please enter the salary"
          formControlName="salary"
        />
      </div>
    </div>
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="closeAddNewEmploySection()"
      >
        Close
      </button>
    </div>
  </form>
</div>
} @else {
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Manager</th>
        <th scope="col">Salary</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Developer</td>
        <td>1</td>
        <td>1000</td>
        <td class="d-flex gap-2">
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
}
